@import "theme_variables";

.padding-top-bottom-3 {
  padding-top: 3px;
  padding-bottom: 3px;
}

.padding-top-bottom-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.count-list-item {
  padding: 10px 0 10px 0;
}